body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
  display: grid;
  grid-gap: 1vh;
  min-height: 100vh;
  letter-spacing: 1px;
}

