.favourites {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  min-height: 73vh;
  grid-template-columns: repeat(1, 1fr);
}

.favourite-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 220, 176);
}

.favourite-picture {
  width: 120px;
  height: 120px;
  padding: 0 10px;
}

.favourite-header {
  padding: 0 20px;
}