nav {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 15vh;
  justify-content: space-between;
  display: flex;
  background-color: #9A031E;
}

.title {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: white;
  align-items: center;
  height: 100%;
  padding: 0rem 2rem;
  display: flex;
  letter-spacing: 2px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.nav-button {
  text-decoration: none;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  background-color: #BF4E30;
}

@media only screen and (max-width: 400px) {
  nav {
    height: 10vh;
    justify-content: center;
  }

  .title {
    font-size: 20px;
    padding: 0rem 1rem;
  }
}