.register {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: rgb(240, 220, 176);;
  min-height: 80vh;
  padding-top: 30px;
}

.register-form { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.register-form input {
  margin-bottom: 1rem;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  padding: 0.3rem;
  height: 25px;
  border-radius: 10px;
  width: 30%;
  background-color: rgb(247, 234, 234);
}

.register-button {
  background-color: #9A031E;
  color:white;
  border-radius: 10px;
  padding: 0.6rem;
  width: 30%;
}

.register-button:hover {
  background-color: #BF4E30;
}