.restaurants {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.card {
  background-color: rgb(240, 220, 176);
  padding: 10px;
  display: flex
}

.card-header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-description{
  padding: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.card-info {
  display: flex;
  align-items: center;
}

.text-link {
  color: rgb(245, 37, 245)
}

.icons-list {
  display: flex;
  align-items: center;
  padding: 5px;
}

.small-icon {
  width:90px;
  height: 50px;
}

.small-icon-just {
  width:100px;
  height: 20px;
}

.picture {
  width: 250px;
  height: 250px;
  padding: 5px;
}