.search-wrapper {
  
}

.search-box {
  display: flex;
  justify-content: center;
  height: 45px;
}

.search-info {
  background-color: rgb(240, 220, 176);
  padding: 15px 40px;
}

.search {
  width: 40%;
}

button{
  width: 15%;
  background-color: #9A031E;
  color: white;
}

button:hover {
  background-color: #BF4E30;
}

.criteria {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 400px) {
  .search-info {
    padding: 5px 20px;
  }
  .search {
    width: 80%;
  }
  button{
    width: 20%;
  }
}
