.search-wrapper {
  padding: 10px;
  background: url("./logos/searchBg.png");
  min-height: 37.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: flex;
  justify-content: center;
  height: 45px;
}

.search-info {
  background-color: rgb(240, 220, 176);
  margin: 0 300px;
  padding: 15px 40px;
  border-radius: 10px;
}

.search {
  width: 80%;
  border-radius: 10px;
}

button{
  width: 15%;
  background-color: #9A031E;
  border-radius: 10px;
  color: white;
}

button:hover {
  background-color: #BF4E30;
}

.criteria {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
